.imageWrapper img {
    object-fit: cover;
    object-position: 50% 50%;
}


.marqueeContainer {
    width: 100%;
    position: relative;
    border: 12px solid var(--card-bg);
    border-radius: 7px;
}

.marqueeContent {
    display: flex;
    overflow: hidden;
    height: 100%;
    border-radius: 4px;

}

.imageCard {
    flex-grow: 1;
    width: 100%;
    padding: 0 0;
    display: block;
    cursor: pointer;
}

.imageWrapper {
    position: relative;
    height: 100%;
    width: 90px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.cover {
    position:absolute;
    top: 0; left: -1px;
    width: calc(100% + 2px);
    border: 1px solid black;
    content: '';
    z-index: 2;
}


@media (min-width: 768px) {
    .imageWrapper {
        width: 120px;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .imageWrapper {
        width: 80px;
        height: 100%;
    }
}