.contentWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0em 2em 0em;
  /* background: var(--bgCol1); */
}
.gradient{
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   opacity: 1;
   background: 
   
    radial-gradient(ellipse at 50% 0%, rgba(255, 255, 255, 0) 0%, var(--bgCol1) 60%),
    radial-gradient(ellipse at 50% 90%, var(--bgCol1) 0%, transparent 50%),

    conic-gradient(from 0deg at 50% -5%,
    var(--bgCol1) 0%,
    var(--bgCol1) 35%,
    /* rgba(3, 28, 255, 0.781) 30%, */
    var(--col2) 40%,
    var(--col3a) 41%,
    var(--col2) 45%,
    var(--col3a) 46%,
    rgba(3, 28, 255, 0.781) 50%,
    var(--col3a) 52%,
    var(--col2) 55%,
    var(--col3a) 58%,
    var(--col2) 60%,
    var(--bgCol1) 65%,
    var(--bgCol1) 100%);
   z-index: -1;
 }
@keyframes loadIn {
  from{opacity: 0; transform: scale(1) translateY(20px)}
  to{opacity: 1; transform: scale(1) translateY(0px)}
}
.noise{
  content:"";
  top:  0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: center/20% url('/images/noise.svg') !important;
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 6;
}
.bento{
  display:grid;
  grid-template-areas: 
  "A A A A A"
  "A A A A A"
  "B B B B B"
  "B B B B B"
  "C C C C C"
  "C C C C C"
  "D D E E E"
  "D D G G G"
  "X H I J K";
  /* grid-template-columns: repeat(5, minmax(1vw, 80px));
  grid-template-rows: repeat(9, minmax(1vh, 100px)); */
  grid-template-rows: repeat(9, minmax(1vh, 100px));
  grid-template-columns: repeat(5, minmax(1vw, 80px));
  gap: 0.4em;
}
.bento > div{
  background: radial-gradient(
    500px circle at var(--mouse-X) var(--mouse-Y), 
    rgba(255, 255, 255, calc(var(--opacity) * 3)), transparent 25%);
  color: var(--txtCol1);
  position: relative;
  border-radius: var(--rad) !important;
  box-shadow: 0px 4px 15px 2px rgba(17, 17, 17, 0.356);
  animation: loadIn 600ms ease-in-out backwards;
  display: flex;
  width: 100%;
  height: 100%;
}
.bento > div::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
  background: radial-gradient(
    800px circle at var(--mouse-X) var(--mouse-Y), 
    rgba(255, 255, 254, calc(var(--opacity) * 0.4)),
    transparent 40%
  );
}
.bento > div::before{
  border-radius: inherit;
  content: '';
  position: absolute;
  margin: 1px;
  top: 0; left: 0;
  width: calc(100% - 2px); height: calc(100% - 2px);
  background: var(--bgCol2);
  box-sizing: border-box;
  border-top: 1px solid rgb(41, 41, 41);
}
.engineeringCard{
  justify-content: center;
  align-items: center;
  grid-area: A;
  animation-delay: calc(1 * var(--stagger)) !important;
}
.productDesignCard{
  overflow: hidden;
  justify-content: center;
  align-items: center;
  grid-area: B;
  animation-delay: calc(2 * var(--stagger)) !important;
}
.productDesignCard::after{
  top: 0; left: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
}
.ornament{
  font-size: 0.6em;
  vertical-align: super;
}
.engineeringCard h1,
.productDesignCard h1{
  font-size: 3em;
  margin: -0.4em 0em 0em 0em;
  mix-blend-mode: difference;
}
.profileCard{
  overflow: hidden;
  position: relative;
  grid-area: C;
  align-items: end;
  animation-delay: calc(3 * var(--stagger)) !important;
}
.profileCard h1{
  text-align: left;
  font-size: 3em;
  margin: 0em 0em 0.4em 0.4em;
  font-weight: 500;
  line-height: 80%;
}
.profileCard p{
  font-size: 0px;
}
.profileCard img{
  position: relative;
  margin: 0em 0em 0em 7em;
}
.mbtiCard{
  grid-area: D;
  animation-delay: calc(4 * var(--stagger)) !important;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
}
.mbtiCard h1{
  font-family: var(--serifFont);
  font-style: italic;
  font-weight: 300;
  font-size: 0em;
  align-self: self-start;
  margin: -0.4em 0em 0em 0.4em;
}
.mbtiCard h2{
  text-align: left;
  margin-left: 0.8em;
  margin-top: -0.3em;
  font-size: 0em;
}
.mbtiCard p{
  text-align: center;
  font-size: 0;
}
.mbtiCard i{
  font-size: 0em;
  color: var(--txtCol2)
}
.mbtiCard img{
  margin: 0em 0em;
  /* filter: grayscale(100); */
}
.curriculumVitaeCard{
  grid-area: E;
  justify-content: center;
  align-items: center;
  animation-delay: calc(5 * var(--stagger)) !important;
}
.curriculumVitaeCard h1{
  font-family: var(--serifFont);
  font-weight: 400;
  font-size: 2em;
  text-align: left;
  line-height: 90%;
  margin-left: -2em;
}
.artCard{
  overflow: hidden;
  display: flex;
  grid-area: F;
  justify-content: center;
  align-items: center;
  animation-delay: calc(7 * var(--stagger)) !important;
}
.artCard img{
  width: 10em !important;
  margin: 0 auto;
}
.codingJourneyCard{
  grid-area: G;
  animation-delay: calc(6 * var(--stagger)) !important;
  align-items: center;
}
.codingJourneyCard h1{
  font-family: var(--monoFont);
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
  line-height: 90%;
  color: var(--col2);
  margin-left: 0.6em !important;
}
.instagram{
  /* height: 100px !important; */
  border: 0px solid transparent !important;
  align-items: center;
  justify-content: center;
  grid-area: H;
  background: var(--transparent) !important;
  box-shadow: 0px 0px 0px 0px solid var(--transparent) !important;
}
.linkedin{
  border: 0px solid transparent !important;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  grid-area: I;
  background: var(--transparent) !important;
  box-shadow: 0px 0px 0px 0px solid var(--transparent) !important;
}
.youtube{
  border: 0px solid transparent !important;
  align-items: center;
  justify-content: center;
  grid-area: J;
  background: var(--transparent) !important;
  box-shadow: 0px 0px 0px 0px solid var(--transparent) !important;
}
.twitter{
  border: 0px solid transparent !important;
  grid-area: K;
  align-items: center;
  justify-content: center;
  background: var(--transparent) !important;
  box-shadow: 0px 0px 0px 0px solid var(--transparent) !important;
}
.footer{
  border: 0px solid transparent !important;
  grid-area: X;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  box-shadow: 0px 0px 0px 0px solid var(--transparent) !important;
}

#foot{
  border: 0px solid transparent !important;
}
.instagram::after,
.linkedin::after,
.youtube::after,
.twitter::after,
.footer::after,
.instagram::before,
.linkedin::before,
.youtube::before,
.twitter::before,
.footer::before{
  pointer-events: none;
  opacity: 0 !important;
}

.twitter h1{
  font-size: 0.6em;
  color: var(--grey)
}
.fa-brands{
  margin: 0 auto;
  background: rgb(29, 29, 29) !important;
}
.blink {
  animation: blinker 0.8s infinite;
  animation-timing-function: steps(1,end);
}
@keyframes blinker {50% {opacity: 0}}
@media screen and (min-width: 768px) {
  .bento{
    grid-template-areas:
    ". . . . . X X . . . . ."
    "A A A A B B B B B B B B"
    "A A A A B B B B B B B B"
    "A A A A B B B B B B B B"
    "A A A A B B B B B B B B"
    "C C C C C C C C D D D D"
    "C C C C C C C C D D D D"
    "C C C C C C C C D D D D"
    "C C C C C C C C D D D D"
    "E E E E F F F F D D D D"
    "E E E E F F F F D D D D"
    "G G G G F F F F D D D D"
    "H I J K F F F F D D D D";
    grid-template-rows: repeat(13, minmax(1vh, 60px));
    grid-template-columns: repeat(12, minmax(1vw, 60px));
    max-width: 900px;
    gap: 0.5em;
  }
  .engineeringCard{
    overflow: hidden;
    justify-content: start;
    align-items: start;
    grid-area: A;
    animation-delay: calc(1 * var(--stagger)) !important;
  }
  .productDesignCard{
    position: relative;
    justify-content: start;
    align-items: start;
    grid-area: B;
    animation-delay: calc(2 * var(--stagger)) !important;
  }
  .engineeringCard h1,
  .productDesignCard h1{
    font-size: 2.1rem;
    margin: 0.3em 0.6em;
  }
  /* .engineeringCard img,
  .productDesignCard img{
  } */
  .profileCard{
    overflow: hidden;
    align-items: start;
    flex-direction: column;
    animation-delay: calc(7 * var(--stagger)) !important;
  }
  .profileCard::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
  }
  .profileCard h1{
    font-size: 3rem;
    margin: 1.2rem 0.4em;
    line-height: 80%;
    font-weight: 500;
  }
  .profileCard p{
    margin: -0.1em 1.2em;
    color: var(--txtCol2);
    font-size: 1em;
    line-height: 130%;
  }
  .profileCard img{
    position: absolute;
    margin: 1em 0em 0em 10em;
  }
  .mbtiCard{
    grid-area: D;
    animation-delay: calc(3 * var(--stagger)) !important;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
  }
  .mbtiCard h1{
    font-family: var(--serifFont);
    font-style: italic;
    font-weight: 300;
    font-size: 3em;
    align-self: center;
    margin: -0.4em 0em 0em 0em;
  }
  .mbtiCard h2{
    font-weight: 400;
    font-size: 1.2em;
    margin: 0 auto;
  }
  .mbtiCard p{
    font-size: 0.9em;
    margin: 21em 1.2em 0em 1.2em;
    font-style: italic;
    color: var(--txtCol2);
  }
  .mbtiCard i{
    font-size: 0.7em;
    margin-top: 2em;
  }
  .mbtiCard img{
  margin: -1em 0em;
  }
  .curriculumVitaeCard{
    display: flex;
    animation-delay: calc(6 * var(--stagger)) !important;
    align-items: center;
    justify-content: flex-start;
  }
  .curriculumVitaeCard h1{
    font-family: var(--serifFont);
    font-weight: 400;
    font-size: 2.4em;
    text-align: left;
    line-height: 90%;
    margin-left: 0.6em;
  }
  .codingJourneyCard{
    display: flex;
    animation-delay: calc(5 * var(--stagger)) !important;
  }
  .codingJourneyCard h1{
    font-family: var(--monoFont);
    text-align: left !important;
    font-size: 1.2em;
    color: var(--col2);
    margin: 0em 0.5em 0em 0em;
  }
  .artCard{
    justify-content: end;
    animation-delay: calc(4 * var(--stagger)) !important;
  }
  .artCard img{
    width: 100% !important;
  }
  .instagram{
    animation-delay: calc(8 * var(--stagger)) !important;
  }
  .linkedin{
    animation-delay: calc(9 * var(--stagger)) !important;
  }
  .youtube{
    animation-delay: calc(10 * var(--stagger)) !important;
  }
  .twitter{
    animation-delay: calc(11 * var(--stagger)) !important;
  }
}
