/* index.module.css */
.revealContainer {
    width: 100%;
    height: 100%; 
    position: relative;
    overflow: hidden;
}

.revealCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
}

@media screen and (max-width: 600px) {
   .canvas {
      width: 0%;
      height: 0%;
   }
}