.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  backdrop-filter: blur(1em);
  background-color: rgba(0, 0, 0, 0.713);
  justify-content: space-around;
}

.popup {
  position: relative;
  border-radius: 7px;
  width: 100%;
  height: 95%;
  max-width: 1200px;
  /* We remove padding here because the carousel itself will have it */
}

.popup img {
  border-radius: 7px;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1010;
}