@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.cdnfonts.com/css/junicode');
@import url('https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css');
:root {
  --monoFont: 'JetBrains Mono', 'Courier New', Courier, monospace;
  --sansDisplay: "InterDisplay", "Helvetica", "Arial", sans-serif;
  --serifFont: 'Junicode', 'Times New Roman', serif;
  --sansText: "Inter", "Helvetica", "Arial", sans-serif;
  --darkBG: #131313;
  --shadow: 0px 0px 10px 10px rgba(14,13,13,0.08);
  --bgCol1: #131212;
  --txtCol1: rgb(230, 230, 230);
  --txtCol2: rgb(68, 68, 68);
  --col1: rgb(14, 14, 14);
  --col2: rgb(12, 12, 189);
  --col2a:rgb(34, 86, 197);
  --col3: rgb(170, 20, 95);
  --col4: rgb(98, 3, 107);
  --col5: rgb(9, 0, 128);
  --col6: rgba(31, 31, 31, 0.993);
  --col7: rgba(255, 255, 255, 0.397);
  --col8: rgba(27, 27, 27, 0.178);
  --col9: rgba(179, 179, 179, 0.243);
  --H1: 40%;
  --H2: 50%;
  --H3: 30%;
  --transparent: rgba(0, 0, 0, 0);
  --stagger: 100ms;
  --grey: #3a3a3a;
}
h1{
  font-family: var(--sansDisplay);
  font-weight: 600;
}
h2{
  font-family: var(--sansText);
  font-weight: 700;
}
p{
  font-family: var(--sansText);
  font-weight: 400;
}
i{
  font-style: normal;
  color: rgb(132, 132, 132);
  font-family: var(--sansText);
}
a{
  text-decoration: none;
}
body{
  display: flex;
  background-attachment: fixed;
  cursor: crosshair;
  background: var(--darkBG);
  justify-content: center;
  align-items: center;
}
nextjs-portal{
  display: none;
}