:root{
  --articleCol: rgb(255, 255, 255);
  --dateCol: rgb(82, 78, 78);
  --codeCol: rgb(240, 220, 220);
  --titleCol: rgb(232, 218, 218);
  --linkCol: rgb(44, 60, 207);
  --postBG: rgb(22, 22, 22);
  --preCol: #282c34;
}
.title{
  width: 50vw
}
hr{
  width: 50vw;
  border: 0;
  border-top: 0.1em dashed var(--preCol);
}
article{
  max-width: 800px;
  padding-top: 1em;
  display: inline-flex;
  flex-direction: column;
}
h1{
  font-family: var(--serifFont);
  font-weight: 700;
  text-align: center;
  font-size: 5em;
  line-height: 85%;
  color: var(--titleCol);
  margin-top: 0.6em;
}
h2{
  font-family: var(--sansText);
  font-weight: 600;
  font-size: 1.5em;
  color: var(--titleCol);
  margin: 1em 0em 0em 0em;
  text-align: center;
}
h3{
  font-family: var(--sansDisplay);
  font-weight: 500;
  font-size: 1.3em;
  text-align: left;
  color: var(--articleCol);
  margin: 0em 0em 0em 0em;
}
h5{
  font-family: var(--sansText);
  font-weight: 400;
}
h6{
  font-family: var(--serifFont);
  font-weight: 400;
  text-align: center;
  font-size: 1.4em;
  margin: -1em 0em 0em 0em;
  color: var(--dateCol);
}
table{
  display: block;
  background: var(--preCol);
  border-collapse: collapse;
  margin:auto;
}
tr:nth-child(even){
  background-color: #31343c;
}
td,
th{
  font-family: var(--sansText);
  color: var(--articleCol);
  padding: 0.5em 1em 0.5em 1em;
}
th{
  background: rgb(27, 27, 29);
}
p,
li
{
  font-family: var(--sansText);
  font-weight: 400;
  line-height: 150%;
  color: var(--articleCol) !important;
}
i{
  font-style: normal;
  color: rgb(132, 132, 132);
  font-family: var(--sansText);
}
a{
  text-decoration: none;
  color: var(--linkCol)
}
a:hover{
  text-decoration: underline;
}
pre{
  display: block;
  background: var(--col6);
  border-radius: 1em;
  overflow: scroll;
  margin: 0em 2em 2em 2em;
  border: 10px solid var(--preCol);
}
code{
  font-family: var(--monoFont);
  color: var(--codeCol);
  font-size: 1em;
  background: var(--preCol);
}
article img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  align-content: center;
  border-radius: 0.8em;
  transition: transform 100ms ease-in-out
}
article img:hover{
  transform: scale(1.01);
}
blockquote{
  padding: 0.2em 3em 0.2em 1.5em;
  background-color: var(--preCol);
  color: white;
  border-radius: 1em;
  overflow: scroll;
}
body{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  cursor: auto;
  flex-direction: column;
  background: var(--postBG) !important;  
  margin-top: 4em;
}
.header img{
  display: block;
  margin: 20em 10em 10em 10em;
}
#place{
  font-family: var(--sansDisplay);
  font-variant: small-caps;
}