.title {
   grid-area: A;
}

.greeting {
   grid-area: B;
}

.photo {
   grid-area: C;
}

.works {
   grid-area: D;
}

.blogs {
   grid-area: E;
}

.contact {
   grid-area: F;
}

.links {
   grid-area: G;
}

.cv {
   grid-area: H;
}

/* MOBILE */

.page {
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100%;
   align-items: center;
   padding: 2em 0em 4em 0em;
   box-sizing: border-box;
   overflow: hidden;
}

.main {
   padding: 0em;
   margin-top: 2em;
   aspect-ratio: 12/44;
   width: var(--size);
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(44, 1fr);
   gap: 0.5em;
   grid-template-areas:
      " A A A A A A A A A A A A "
      " A A A A A A A A A A A A "
      " B B B B B B B B B B B B "
      " B B B B B B B B B B B B "
      " B B B B B B B B B B B B "
      " B B B B B B B B B B B B "
      " B B B B B B B B B B B B "
      " C C C C C C C C C C C C "
      " C C C C C C C C C C C C "
      " C C C C C C C C C C C C "
      " C C C C C C C C C C C C "
      " C C C C C C C C C C C C "
      " C C C C C C C C C C C C "
      " C C C C C C C C C C C C "
      " D D D D D D D D D D D D "
      " D D D D D D D D D D D D "
      " D D D D D D D D D D D D "
      " H H H H H H H H H H H H "
      " H H H H H H H H H H H H "
      " H H H H H H H H H H H H "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " E E E E E E E E E E E E "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " F F F F F F F F F F F F "
      " G G G G G G G G G G G G "
      " G G G G G G G G G G G G ";

   position: relative
}

.main>div {
   border: 1px solid var(--border);
   position: relative !important;
   border-radius: 7px;
   z-index: 4 !important;
   padding: 1em 0em 1em 1em !important;
   color: #fff;
   background: rgb(0, 0, 0);
   transition: background 500ms linear;
}

.content {
   background-color: var(--card-bg);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 7px;
   display: flex;
   z-index: 2;
}

.logo {
   display: flex;
   max-width: fit-content;
   width: 80%;
   padding: 0em 0em 0em 0.5em;
   z-index: 2;
}

.logo>div {
   align-self: flex-start;
   height: 60px;
}

.logo>div:hover svg {
   color: white;
}

.logo svg {
   color: var(--gray);
   transition: color 200ms linear;
}

/** ---- TITLE START ---- */

.title .content>div:nth-of-type(1) {
   display: flex;
   justify-content: flex-end;
   margin-right: 1em;
}

.title .content>div:nth-of-type(1) p {
   padding: 0 0.2em;
   position: relative;
   overflow: hidden;
   color: var(--gray);
   font-weight: 400;
   height: 1.1em;
   margin: 0;
}

.title .content>div:nth-of-type(1) p:hover {
   color: white;
}

.title .content p {
   width: 100%;
}

.title .content {
   align-items: center;
   padding: 0em 0em 0em 1em !important;
   align-items: center;
   font-feature-settings: 'ss03' on, 'ss04' on, 'ss06' on, 'ss08' on !important;
}

/** ---- TITLE END ---- */

/** ---- GREETING START ---- */

.greeting .content {
   height: 100%;
   font-size: 1.8em;
   padding: 0.5em 0em 0.5em 0.5em !important;
}

.greeting .content p {
   font-family: var(--font-geist-mono), monospace;
   padding: 0em 0.2em 0em 0.2em;
   margin: 0em;
   background-image: repeating-linear-gradient(180deg, #7a7a7a, #7a7a7a 17px, transparent 17px, transparent 28px, #7a7a7a 28px), repeating-linear-gradient(270deg, #7a7a7a, #7a7a7a 17px, transparent 17px, transparent 28px, #7a7a7a 28px), repeating-linear-gradient(0deg, #7a7a7a, #7a7a7a 17px, transparent 17px, transparent 28px, #7a7a7a 28px), repeating-linear-gradient(90deg, #7a7a7a, #7a7a7a 17px, transparent 17px, transparent 28px, #7a7a7a 28px);
   background-size: 1px calc(100% + 28px), calc(100% + 28px) 1px, 1px calc(100% + 28px), calc(100% + 28px) 1px;
   background-position: 0 0, 0 0, 100% 0, 0 100%;
   background-repeat: no-repeat;
}

.greeting .content>div>div:last-child span:nth-of-type(2) {
   font-family: var(--font-serif), serif !important;
   font-style: italic;
}

/** ---- GREETING END ---- */

/** ---- PHOTO START ---- */

.photo img {
   object-fit: cover;
   object-position: 50% 40%;
   border-radius: 7px;
}

.photo .content {
   overflow: hidden
}

/** ---- PHOTO END ---- */

/** ---- BLOGS START ---- */

.blogs .content {
   display: flex;
   flex-direction: column;
   padding: 0.1em 2.5em 0em 1.3em !important;
}

.blogs .content h3 {
   font-weight: 400;
   font-size: 1.6em;
   margin: 0.5em 0em 1em 0em;
}

.blogs .content p {
   font-weight: 400;
   margin: 0;
   font-size: 1.1em;
   margin: 0em 0em 1em 0em !important;
   padding: 0em 0em 1em 0em !important;
   border-bottom: 1px solid var(--gray);
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

/** ---- BLOGS END ---- */

/** ---- CV START ---- */

.cv .content {
   font-family: var(--font-serif), serif;
   font-size: 2em;
   align-items: center;
   padding: 0em 0em 0em 0.5em !important;
}

.cv .content h3 {
   padding: 0 0.2em;
   position: relative;
   overflow: hidden;
   color: white;
   font-size: 1em;
   font-weight: 400;
   height: 1.4em;
   margin: 0;
}

/** ---- CV END ---- */

/** ---- CONTACT START ---- */

.contact .content {
   align-items: flex-end;
   flex-direction: column;
   padding-bottom: 100%;
   padding: 1em 1em 0em 1em !important;
   cursor: pointer;
}

.contact .content>div:nth-of-type(2) {
   font-size: small;
   width: 100%;
   color: var(--gray);
   order: 2;
}

.contact .content>div:nth-of-type(1) {
   display: flex;
   justify-content: flex-end;
   margin-right: 1em;
   height: 100%;
   margin-right: 0em;
   order: 1;
}

.contact .content>div:nth-of-type(1) h3 {
   padding: 0 0.2em;
   position: relative;
   overflow: hidden;
   color: white;
   font-size: 2em;
   font-weight: 400;
   height: 1.4em;
   margin: 0;
}

/** ---- CONTACT START ---- */

/** ---- LINKS START ---- */

.links .content {
   align-items: center;
   width: 100%;
   justify-content: center;
   padding: 1.4em 0em 1em 0em !important;
}

/** ---- LINKS END ---- */


@media screen and (min-width: 768px) {
   /** TABLET */

   .page {
      justify-content: center;
   }

   .main {
      aspect-ratio: 12/22;
      margin-top: 2em !important;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(22, 1fr);
      grid-template-areas:
         " A A A A A A A A A A A A "
         " B B B B B B B B C C C C "
         " B B B B B B B B C C C C "
         " B B B B B B B B C C C C "
         " B B B B B B B B C C C C "
         " B B B B B B B B C C C C "
         " D D D D D D H H H H H H "
         " D D D D D D F F F F F F "
         " D D D D D D F F F F F F "
         " D D D D D D F F F F F F "
         " D D D D D D F F F F F F "
         " D D D D D D F F F F F F "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " E E E E E E E E E E E E "
         " G G G G G G G G G G G G ";
   }

   .main>div {
      position: relative !important;
      border-radius: 7px;
      z-index: 4 !important;
      padding: 1em 0em 1em 1em !important;
      transition: background 500ms linear;
   }

   .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      display: flex;
      z-index: 2;
   }

   .logo {
      display: flex;
      max-width: fit-content;
      width: 80%;
      padding: 0em 0em 0em 0.5em;
      z-index: 2;
   }

   .logo>div {
      align-self: flex-start;
      height: 60px;
   }

   .logo>div:hover svg {
      color: white;
   }

   .logo svg {
      color: var(--gray);
      transition: color 200ms linear;
   }

   /** ---- TITLE START ---- */

   .title .content>div:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
   }

   .title .content>div:nth-of-type(1) p {
      padding: 0 0.2em;
      position: relative;
      overflow: hidden;
      color: var(--gray);
      font-weight: 400;
      height: 1.4em;
      margin: 0;
   }

   .title .content>div:nth-of-type(1) p:hover {
      color: white;
   }

   .title .content p {
      width: 100%;
   }

   .title .content {
      align-items: center;
      padding: 0em 0em 0em 1em !important;
      align-items: center;
   }

   /** ---- TITLE END ---- */

   /** ---- GREETING START ---- */

   .greeting .content {
      align-items: flex-end;
      height: 100%;
      font-size: 2em;
      padding: 0em 0em 0.5em 0.5em !important;
   }

   .greeting .content p {
      font-family: var(--font-geist-mono), monospace;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0em 0.2em 0em 0.2em;
      margin: 0em;
   }

   .greeting .content>div>div:last-child span:nth-of-type(2) {
      font-family: var(--font-serif), serif !important;
      font-style: italic;
   }

   /** ---- GREETING END ---- */

   /** ---- PHOTO START ---- */

   .photo img {
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 7px;
   }

   /** ---- PHOTO END ---- */

   /** ---- BLOGS START ---- */

   .blogs .content {
      display: flex;
      flex-direction: column;
      padding: 0.1em 2.5em 0em 1.3em !important;
   }

   .blogs .content h3 {
      font-weight: 400;
      font-size: 1.6em;
      margin: 0.5em 0em 1em 0em;
   }

   .blogs .content p {
      font-weight: 400;
      margin: 0;
      font-size: 1.1em;
      margin: 0em 0em 1em 0em !important;
      padding: 0em 0em 1em 0em !important;
      border-bottom: 1px solid var(--gray);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }

   /** ---- BLOGS END ---- */

   /** ---- CV START ---- */

   .cv .content {
      font-family: var(--font-serif), serif;
      font-size: 2em;
      align-items: center;
      padding: 0em 0em 0em 0.5em !important;
   }

   .cv .content>h3 {
      text-decoration: none;
      font-size: 1em;
      color: white;
      font-weight: 400;
      width: 100%;
      height: 1.2em;
      margin: 0em;
      text-align: left;
      position: relative;
      overflow: hidden;
   }

   /** ---- CV END ---- */

   /** ---- CONTACT START ---- */

   .contact .content {
      align-items: flex-end;
      flex-direction: column;
      padding-bottom: 100%;
      padding: 1em 1em 0em 1em !important;
      cursor: pointer;
   }

   .contact .content>div:nth-of-type(2) {
      font-size: small;
      width: 100%;
      color: var(--gray);
      order: 2;
   }

   .contact .content>div:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
      height: 100%;
      margin-right: 0em;
      order: 1;
   }

   .contact .content>div:nth-of-type(1) h3 {
      padding: 0 0.2em;
      position: relative;
      overflow: hidden;
      color: white;
      font-size: 2em;
      font-weight: 400;
      height: 1.4em;
      margin: 0;
   }

   /** ---- CONTACT START ---- */

   /** ---- LINKS START ---- */

   .links .content {
      align-items: center;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 1.4em 0em 1em 0em !important;
   }

   /** ---- LINKS END ---- */

}

@media screen and (min-width: 1024px) and (hover: hover) {
   /** ---- DESKTOP ---- */

   .page {
      justify-content: center;
      height: 100% !important;
      overflow: hidden;
      width: 100% !important;
      align-items: center;
   }

   .logo {
      display: flex;
      max-width: fit-content;
      width: 1024px;
      max-width: 1025px;
      padding: 0em 0em 0em 0.5em;
      object-position: left;
   }

   .logo>div {
      align-self: flex-start;
      height: 60px;
   }

   .logo>div:hover svg {
      color: white;
   }

   .logo svg {
      color: var(--gray);
      transition: color 200ms linear;
   }

   .main {
      overflow: hidden;
      width: 1025px;
      position: relative !important;
      z-index: 2 !important;
      height: 80%;
      max-height: 768px;
      display: grid;
      aspect-ratio: 12 /10;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-template-areas:
         " A A A A A A A A A A A A "
         " B B B B B C C C E E E E "
         " B B B B B C C C E E E E "
         " B B B B B C C C E E E E "
         " B B B B B C C C E E E E "
         " D D D D H H H H E E E E "
         " D D D D F F F F E E E E "
         " D D D D F F F F E E E E "
         " D D D D F F F F E E E E "
         " D D D D F F F F G G G G ";
   }

   .main>div {
      position: relative !important;
      border-radius: 7px;
      z-index: 4 !important;
      padding: 0.1em 0em 0.1em 1em;
      background: rgb(0, 0, 0);
      transition: background 500ms linear;
   }

   @property --angle {
      syntax: '<angle>';
      inherits: false;
      initial-value: 0deg;
   }

   @keyframes rotate {
      0% {
         --angle: 0deg;
      }

      100% {
         --angle: 360deg;
      }
   }

   .main>div:after {
      background: conic-gradient(from var(--angle) at 50% 50%,
            transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border-radius: 7px;
      content: '';
      opacity: 0
   }

   .main>div:hover:after,
   .main>div:hover:before {
      background: conic-gradient(from var(--angle) at 50% 50%,
            rgb(251, 55, 60),
            rgba(252, 114, 28, 1),
            rgba(255, 220, 0, 1),
            rgba(27, 206, 255, 1),
            rgba(42, 107, 255, 1),
            rgba(217, 41, 255, 1),
            rgba(255, 10, 92, 1),
            rgb(251, 55, 60));
      animation: rotate 1s linear infinite;
      opacity: 0.5;
      transition: opacity 100ms linear;
      mask-image: conic-gradient(from calc(var(--start) * 1deg),
            transparent 0deg,
            white,
            transparent calc(var(--spread) * 1deg))
   }

   .content {
      background-color: var(--card-bg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      display: flex;
      z-index: 2;
   }

   /** ---- TITLE START ---- */

   .title .content>div:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
   }

   .title .content>div:nth-of-type(1) p {
      padding: 0 0.2em;
      position: relative;
      overflow: hidden;
      color: var(--gray);
      font-weight: 400;
      height: 1.4em;
      margin: 0;
   }

   .title .content>div:nth-of-type(1) p:hover {
      color: white;
   }

   .title .content p {
      width: 100%;
   }

   .title .content {
      align-items: center;
      padding: 0em 0em 0em 1em !important;
   }

   /** ---- TITLE END ---- */

   /** ---- GREETING START ---- */

   .greeting .content {
      align-items: flex-end;
      height: 100%;
      font-size: 2em;
      padding: 0em 0em 0.5em 0.5em !important;
   }

   .greeting .content p {
      font-family: var(--font-geist-mono), monospace;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0em 0.2em 0em 0.2em;
      margin: 0em;
   }

   .greeting .content>div>div:last-child span:nth-of-type(2) {
      font-family: var(--font-serif), serif !important;
      font-style: italic;
   }

   /** ---- GREETING END ---- */

   /** ---- PHOTO START ---- */

   .photo img {
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 7px;
   }

   .photo .content {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
   }

   /** ---- PHOTO END ---- */

   /** ---- BLOGS START ---- */

   .blogs .content {
      display: flex;
      flex-direction: column;
      padding: 0.1em 2.5em 0em 1.3em !important;
   }

   .blogs .content h3 {
      font-weight: 400;
      font-size: 1.6em;
      margin: 0.5em 0em 1em 0em;
   }

   .blogs .content p {
      font-weight: 400;
      margin: 0;
      font-size: 1.1em;
      margin: 0em 0em 1em 0em !important;
      padding: 0em 0em 1em 0em !important;
      border-bottom: 1px solid var(--gray);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }

   /** ---- BLOGS END ---- */

   /** ---- DESC START ---- */


   /** ---- DESC END ---- */

   /** ---- CV START ---- */

   .cv .content {
      font-family: var(--font-serif), serif;
      font-size: 2em;
      align-items: center;
      padding: 0em 0em 0em 0.5em !important;
   }

   .cv .content>h3 {
      text-decoration: none;
      font-size: 1em;
      color: white;
      font-weight: 400;
      width: 100%;
      height: 1.2em;
      margin: 0em;
      text-align: left;
      position: relative;
      overflow: hidden;
   }

   /** ---- CV END ---- */

   /** ---- CONTACT START ---- */

   .contact .content {
      align-items: flex-end;
      flex-direction: column;
      padding-bottom: 100%;
      padding: 1em 1em 0em 1em !important;
      cursor: pointer;
   }

   .contact .content>div:nth-of-type(2) {
      font-size: small;
      width: 100%;
      color: var(--gray);
      order: 2;
   }

   .contact .content>div:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
      height: 100%;
      margin-right: 0em;
      order: 1;
   }

   .contact .content>div:nth-of-type(1) h3 {
      padding: 0 0.2em;
      position: relative;
      overflow: hidden;
      color: white;
      font-size: 2em;
      font-weight: 400;
      height: 1.4em;
      margin: 0;
   }

   /** ---- CONTACT START ---- */


   /** ---- LINKS START ---- */

   .links .content {
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 0em !important;
   }

   /** ---- LINKS END ---- */
}

.links a {
   color: var(--gray);
   font-size: 1.3em;
   margin: 0 auto;
}