.dot{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   position: absolute;
   top: 0; left: 0;
   translate: -50% -50%;
   background: white ;
   z-index: 99;
   pointer-events: none;
   opacity: 1;
}
#dotIcon {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 90%;
   line-height: 4px;
   opacity: 0;
   transition: opacity 400ms ease;  
}
.dot:not([data-type='']) > #dotIcon{
   opacity: 1;
   color: #000000;
}
.dud{
   color: var(--grey);
   font-family: var(--monoFont);
}
.text{
   background: linear-gradient(60deg, var(--col3) 0%, var(--col2) 100%);
   background-clip: text;
   color: transparent
}
.emoji-star{
  background: url(https://em-content.zobj.net/source/apple/391/dizzy_1f4ab.png) 50% / 50% no-repeat;
}
.emoji-book{
  background: url(https://em-content.zobj.net/source/apple/391/open-book_1f4d6.png) 50% / 50% no-repeat;
}
.emoji-eye{
  background: url(https://em-content.zobj.net/source/apple/391/eyes_1f440.png) 50% / 50% no-repeat;
}
