.dot{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   position: absolute;
   top: 0; left: 0;
   translate: -50% -50%;
   background: white;
   z-index: 99;
   pointer-events: none;
   opacity: 1;
   /* mix-blend-mode: exclusion; */
}
#dotIcon {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 90%;
   line-height: 4px;
   opacity: 0;
   transition: opacity 400ms ease;  
}
.dot:not([data-type='']) > #dotIcon{
   opacity: 1;
   color: #000;
}
.dud{
   color: var(--grey);
   font-family: var(--monoFont);
}
.text{
   background: linear-gradient(60deg, rgb(244, 55, 215) 0%, rgb(18, 9, 179) 100%);
   background-clip: text;
   color: transparent
}
