.dot {
   backdrop-filter: unset;
   background-color: transparent;
}

@media screen and (min-width: 1024px) {
   .dot {
      backdrop-filter: blur(3px) contrast(100%) brightness(140%);
      position: fixed;
      content: '';
      width: 60px;
      height: 60px;
      top: 0;
      left: 0;
      translate: -50% -50%;
      z-index: 2;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
      filter: blur(0.5);
   }
}